{% extends 'base.html' %}

{% block content %}

  <div class="reset-password-container">
    <div class="form forgot-reset-form">
      {% if validlink %}
      <h3 class='form-heading center-align'>Change Password</h3>
      <form method="post">
         {% csrf_token %}
        <div>
          <label for="id_new_password1">New password:</label>
          <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> <span class="helptext"></span>
        </div>
        <ul>
          <li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li>
          <li>Your password can’t be a commonly used password.</li>
          <li>Your password can’t be entirely numeric.</li>
        </ul>
        <div>{{form.new_password2.errors}}</div>
        <div>
          <label for="id_new_password2">New password confirmation:</label>
          <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        </div>
          <button type="submit" class="submit-btn">Change password</button>
        </form>
      </div>
    </div>
    {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>

  {% endif %}
{% endblock %}
