{% load static %}
{% block content %}

<footer class="">
  <div class="">
      <ul>
        <li><a class="white" href="#">About Us</a></li>
        <li><a class="white" href="#">FAQ</a></li>
      </ul>
    </div>

  <!--div id="socialMedia">
    <a href="https://www.facebook.com/MeruCabs" class="white"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/MeruCabs" class="white"><i class="fab fa-twitter"></i></a>
    <a href="https://in.linkedin.com/company/meru-mobility-tech-pvt-ltd" class="white">
        <i class="fab fa-linkedin"></i></a>

  </div-->
  <div class="copyright"> &copy; 2019. All rights Reserved</div>
</footer>

{% endblock %}
