{% load static %}
{% block content %}
<header>
  <nav class="navigationbar" id="nav-menu">
    <div >
    <a href="#"><img class="logo" src=""></a>

    <!--a class="upper login-button" href="#" >Login</a-->
    <a class="menuitem" href="/">Home</a>
    
    <a class="menuitem" href="/login/">Login</a>

    <a class="menuitem" href="/service_packages/">Services</a>

    <!--a href="javascript:void(0);" class="menu-icon" onclick="openMenu()">
      <i class="fa fa-bars"></i>
    </a-->
    <div>
  </nav>
</header>
<script>
/*function openMenu() {
  var topMenu = document.getElementById("nav-menu");
  if (topMenu.className === "navigationbar") {
    topMenu.className += " menu-responsive";
  } else {
    topMenu.className = "navigationbar";
  }
}*/
</script>
{% endblock %}
